*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.center {
    text-align: center;
}

